.heroGradient {
        background-image: url('../img/mac.png'), linear-gradient(to right top, #221C67, #00468F, #006DA9);
        background-size: 60vw, 100%;
        background-repeat: no-repeat;
        position: absolute;
        background-position: top left, center;
        z-index: -1;
        height: 80vh;
        width: 150%;
        transform: rotate(-8deg);
        top: -12vw;
        left: -15vw;
    }

section.succes {
    margin-top: 28vh;
}

section.succes h1 {
    text-align: center;
    margin-bottom: 16vh;
}

