#contactFlex, #name-mail
    display: flex
    justify-content: space-between
    @media(max-width: 992px)
        flex-direction: column
    #contactIntro
        @media(min-width: 992px)
            width: 40%
    .contactForm
        @media(min-width: 992px)
            width: 50%
            max-width: 600px
        background-color: #fff
        padding: 20px
        border-radius: 10px
        box-shadow: 0 2px 4px 0 rgba(14,30,37,.12)
        @media(max-width: 768px)
            width: 100%
        label
            display: block
            margin: 10px 0 5px 0
        #name-mail > div
                width: 48%
        input, textarea
            background-color: #f4f4f4
            border-radius: 5px
            display: block
            width: 100%
        textarea
            height: 80px

