.cardFlex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

.card {
    width: 240px;
    border-radius: 5px;
    background-color: #fff;
    display: inline-block;
    margin-bottom: 20px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.cardImage {
    background-color: #D8D8D8;
    border-radius: 5px 5px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardImage img {
        width: 200px;
}

.cardText {
    padding: 20px;

}

.card p {
    margin-bottom: 0px;
}

.card .cardTop {
    background-color: #e3e0e0;
    border-radius: 5px 5px 0 0;
}

.card .cardTop p {
     text-align: center;
     padding: 20px 10px;
}

.cardTitle {
    font-weight: bold;
}

.uspContainer {
    position: relative;
}

.checkMark {
    color: #4d7995;
    display: inline-block;
    position: absolute;
    top: 0;
    width: 10%;
}

.usps {
    margin: 10px 0;
    min-height: 100px;
    font-size: 1rem;
}

.usp {
    margin: 5px;
    display: inline-block;
    width: 80%;
    position: relative;
    left: 10%;
    top: -5px;
}

@media (max-width: 620px) {
    .cardFlex {
        flex-direction: column;
        align-items: center;
    }
}